body {
    font-family: 'Trebuchet MS';
    margin: 20px;
}

textarea {
    width: 400px;
    height: 100px;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    transition: border-color 0.3s ease-in-out;
}

textarea:focus {
    outline: none;
    border-color: #4CAF50;
}


.btn {
    padding: 10px 20px;
    margin-right: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease-in-out;
}

.btn:hover {
    background-color: #45a049;
}